/* common style START*/
body{
  color: #202646;
  font-family: PingFangSC-Regular;
}
.breadcrumb{
  background-color: #f1f1f1;
  padding: 18px 20px;
  font-size: 16px;
}
.breadcrumb .active{
  color: #699CFF;
}
.btn{
  padding: 4px 12px;
}
.btn-default-custom{
  background-color: #BBBEC4;
  color: #fff;
  border: none;
}
.btn-default-custom:hover{
  background-color: #a5a8ad;
  color: #fff;
  border: none;
}
.btn-custom{
  background-color: #699CFF;
  border-color: #699CFF;
  color: #fff;
}
.btn-custom:hover, .btn-custom:focus{
  background-color: #598ff7;
  border-color: #598ff7;
  color: #fff;
}
.checkbox, .radio{
  margin-top: 0;
  margin-bottom: 0;
}
.checkbox input[type=checkbox]{
  margin-left: -16px;
}
.checkbox label{
  padding-top: 2px;
}
select{
  position:relative;
  top: 1px;
}
.form-control{
  padding-top: 4px;
  padding-bottom: 4px;
  height: 30px;
  font-size: 12px;
}
.control-label.required:before{
  color: #F04E4E;
  content: '*';
  margin-right: 4px;
}
.form-horizontal .control-label{
  font-weight: normal;
  font-size: 14px;
}
.pagination{
  margin: 0;
}
.pagination>li>a{
  padding: 0;
  margin: 0 5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  font-size: 12px;
  background: #F0F2F5;
  border: none;
  border-radius: 2px;
  color: #606266;
}
.pagination>.active>a,
.pagination>.active>a:hover,
.pagination>.active>a:focus{
  background-color: #699CFF;
  border: none;
}
/* common style END*/

/* form modal */
.form-modal .modal-dialog{
  width: 660px;
}
.form-modal .modal-header{
  background-color: #E9EAEC;
  padding: 12px 12px 12px 20px;
}
.form-modal .modal-body{
  padding: 30px 50px 30px 50px;
}
.form-modal .modal-body textarea{
  resize: none;
}
.form-modal .modal-body button{
  height: 40px;
  width: 46%;
  float: left;
}
.form-modal .modal-body .cancelAdd{
  margin-right: 8%;
}
/* form modal END*/

/* confirm modal */
.confirm-modal .modal-header{
  background: none;
  border: none;
}
.confirm-modal .modal-body{
  padding-top: 35px;
  padding-bottom: 30px;
  font-size: 16px;
}
.confirm-modal .modal-body .close{
  position: absolute;
  right: 10px;
  top: 5px;
}
.confirm-modal .modal-body .tip{
  text-align: center;
  margin-bottom: 25px;
}
.confirm-modal .modal-body .operation-button{
  text-align: center;
}
.confirm-modal .modal-body .operation-button button{
  width: 150px;
  height: 40px;
}
.confirm-modal .modal-body .operation-button button:first-child{
  margin-right: 20px;
}
/* confirm modal END*/