/**
 * @name common.css
 * @version v1.1.0
 * @desc 工具框架基本样式
 */
html, body, .joint-app {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

body {
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  user-select: none;
  font-family: sans-serif, Arial;
  overflow: hidden;
}
.header {
  position: relative;
  width: 100%;
  height: 110px;
}

.header .menu {
  width: 100%;
  height: 50px;
  background: #1E1E1E;
  /*line-height: 60px;*/
  padding-left: 20px;
  line-height: 50px;
}
.header .menu img{
  width: auto;
  height: 24px;
  /*margin-top: 5px;*/
}
.header ol.breadcrumb {
  list-style: none;
  width: 100%;
  height: 60px;
  padding-left: 20px;
  margin: 0;
  background: #FFFFFF;
  line-height: 60px;
  font-family: PingFangSC-Regular;
  font-size: 16px;
  color: #202646;
  padding: 0 0 0 20px;
}
.breadcrumb > li {
  display: inline-block;
}
.breadcrumb > li.active {
  color: #699CFF;
}
.breadcrumb > li+ {
  padding-left: 10px;
}
.breadcrumb > li+:before {
  content: "/\00a0";
  color: #202646;
}

/* flow-info */
.flow-info {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: #474747;
  padding-left: 20px;
  line-height: 50px;
  border-bottom: 1px solid #000000;
}
.flow-info .info-text {
  color: #FFFFFF;
  font-size: 16px;
  font-family: PingFangSC-Regular;
}
.flow-info .icon-edit {
  width: 18px;
  height: 18px;
  background: #699CFF;
  border-radius: 4px;
  display: inline-block;
  margin-left: 10px;
  position: relative;
  top: 2px;
}
.flow-info .icon-edit .iconCust-edit-s{
  color: #fff;
  position: absolute;
  top: 1px;
  cursor: pointer;
}

.app-header {
  position: relative;
  width: 100%;
  height: 30px;
  line-height: 30px;
}

.app-body {
  position: relative;
  height: -moz-calc(100% - 190px);
  height: -webkit-calc(100% - 190px);
  height: calc(100% - 190px);
}

.app-title {
  display: inline-block;
  width: 100px;
  font-family: PingFangSC-Regular;
  font-size: 16px;
  color: #FFFFFF;
  text-align: center;
}

.app-title > h1 {
  color: #fff;
  font-size: 18px;
  line-height: 60px;
  text-align: left;
  text-transform: uppercase;
  margin: 0;
  padding: 0 0 0 30px;
}

/*  Paper  */
.paper-container {
  position: absolute;
  top: 0;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  left: 100px;
  right: 240px;
}

/*  Inspector  */
.inspector-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0; /* (navigator + jsonview) height */
  width: 240px;
  box-sizing: border-box;
  border-top: solid 1px #000000;
}
.object-property[data-property$="/fill"],
.object-property[data-property$="/stroke"],
.field[data-field$="/fill"],
.field[data-field$="/stroke"] {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}

.joint-select-box.joint-color-palette .select-box-option:nth-child(2):not(.hover) {
  border: inset;
  border-width: 1px;
}

.joint-inspector-select-box-options {
  width: 190px;
}

/*  Jsonview  */
.jsonview-container {
  position: absolute;
  right: 0;
  bottom: 120px;  /* navigator height */
  width: 240px;
  height: 120px;
}
.jsonview-container .joint-jsonview {
  padding: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
}
.jsonview-container .joint-jsonview .joint-jsonview-group {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2px;
}
.jsonview-container .joint-jsonview .codearea {
  background-color: darkblue;
  color: #FFFFFF;
  font-size: 10pt;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 24px;
  top: 0;
  overflow: auto;
  padding: 2px;
}


/*  Navigator  */
.navigator-container {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 240px;
  height: 120px;
}

/*  Stencil  */
.stencil-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  height: 100%;
}

.joint-stencil .joint-element[data-type="standard.Image"] text,
.joint-stencil .joint-element[data-type="standard.Cylinder"] text,
.joint-stencil .joint-element[data-type="devs.Atomic"] .inPorts text,
.joint-stencil .joint-element[data-type="devs.Atomic"] .outPorts text,
.joint-stencil .joint-element[data-type="pn.Transition"] text,
.joint-stencil .joint-element .joint-port text {
  display: none;
}

.joint-stencil .joint-element.joint-type-uml rect,
.joint-stencil .joint-element.joint-type-uml path {
  stroke: #4a4d6e;
}

/*  Toolbar  */
.toolbar-container {
  display: inline-block;
  position: absolute;
  height: 100%;
  left: 100px;
  right: 0;
  box-sizing: border-box;
}
.toolbar-container .joint-toolbar {
  width: 100%;
  height: 100%;
}

.toolbar-container label {
  white-space: nowrap;
}

.toolbar-container button:not(:empty) {
  padding: 0 4px;
}

.toolbar-container button.joint-widget[data-type="zoomIn"],
.toolbar-container button.joint-widget[data-type="zoomOut"] {
  display: none;
}

.joint-dialog.joint-lightbox .fg {
  /*background-color: #F6F6F6;*/
  border: 1px solid #F6F6F6;
  padding: 10px;
}




/* 公共基础 */
button.disabled, button[disabled] {
  cursor: not-allowed!important;
  color: rgba(255,255,255,.28)!important;
  background: #333!important;
  pointer-events: none!important;
}

