/**
 * @name service.query.css
 * @version v1.1.0
 * @desc 服务查询页样式
 */

.menu {
  width: 100%;
  height: 50px;
  background: #1E1E1E;
  line-height: 50px;
  padding-left: 20px;
}
.menu img{
  width: auto;
  height: 24px;
}

.content-container{
  padding: 0 20px;
}
/* search */
.search-container{
  background-color: #E9EAEC;
  padding: 20px;
  margin-bottom: 20px;
}
.search-container select.form-control{
  width: 23%;
}
.search-container .form-group{
  width: calc(70% - 80px);
}
.search-container .form-group input{
  width: 100%;
}
.search-container button{
  padding: 4px 18px;
  float: right;
}

/* table section */

/* operation */
.table-operation{
  margin-bottom: 20px;
  position: relative;
}
/*.table-operation .add-new{
  float: right;
  color: #699CFF;
  font-size: 20px;
  cursor: pointer;
}*/
.operation-icon{
  position: absolute;
  right: 0;
  top: -4px;
  color: #699CFF;
  font-size: 20px;
  transition: all 0.3s ease-in;
  width: 21px;
  white-space: nowrap;
  overflow: hidden;
  text-align: right;
  cursor: pointer;
}
.operation-icon .operation-text{
  opacity: 0;
  font-size: 14px;
  position: relative;
  top: -3px;
  transition: all 0.3s ease-in;
}
.operation-icon:hover{
  width: 100px;
}
.operation-icon:hover .operation-text{
  opacity: 1;
}
/* table */
.table>thead>tr>th{
  background-color: #E9EAEC;
  color: #202646;
  font-weight: 400;
  border-bottom-width: 1px;
}
.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: #FFFFFF;
}
.table-striped>tbody>tr:nth-of-type(even) {
  background-color: #F8F8F9;
}
.table>tbody>tr>td{
  height: 40px;
  padding: 0 8px;
  border-top: none;
  font-size: 12px;
  line-height: 40px;
  color: #494E60;
  font-weight: normal;
}
.operate-href{
  color: #699CFF;
  margin-right: 20px;
}
.operate-href:hover, .operate-href:focus{
  color: #699CFF;
  text-decoration: none;
}
.paging-container>span{
  position: relative;
  top: -7px;
  right: 10px;
  font-size: 12px;
}
.table tbody tr.on {
  background-color: lightblue;
}

